# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
/build/
.gradle

# other
eclipse
.classpath
.settings
.project
*.launch
/bin
run
/logs
/saves
/resourcepacks
/mods
/config
/crash-reports
usercache.json
usernamecache.json
options.txt
